.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
Gemfile.lock
*~
watsonint

.DS_Store
TRASH*
.rvmrc
config/database.yml
db/schema.rb
xtmp/**/*
coverage
doc/api
doc/app
doc/plugins
log/[^.]*
vendor/plugins/selenium-on-rails/log/*
mkmf.log
public/system
vendor/old_plugins
config/database.yml.mine
config/database.yml
*~
